<!-- contacts/templates/contacts/delete_contact.html -->
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'delete_contact.css' %}">
    <title>Delete Contact</title>
    <script>
        function confirmDelete() {
            var result = confirm("Are you sure you want to delete this contact?");
            if (result) {
                document.getElementById('deleteForm').submit();
            }
        }
    </script>
</head>
<body>
    <h1>Delete Contact</h1>
    <p>Are you sure you want to delete contact "{{ contact.name }}"?</p>
    <form method="post" action="" id="deleteForm">
        {% csrf_token %}
        <input type="submit" value="Delete" onclick="confirmDelete()">
        <a href="{% url 'contact_details' contact.id %}">Cancel</a>
    </form>
</body>
</html>
