<!-- contacts/templates/contacts/home.html -->
{% load static %}
<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

    <title>Contact Management</title>
</head>

<body>
    <h1 style="color: black; text-align: center;">Contact Management</h1>
    <div class="container"">
        <a href="{% url 'new_contact' %}"> <button type="button" class="btn btn-primary">Create a New Contact</button></a>
        <table border="1">
            <tr>
                <th>Contact Name</th>
                <th>Email</th>
                <th>Created Time</th>
                <th>Action</th>
            </tr>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.name }}</td>
                <td><i class="glyphicon glyphicon-envelope"></i> {{contact.email }}</td>
                <td>{{ contact.created_at }}</td>
                <td><a href="{% url 'contact_details' contact.id %}">Details</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <footer>
        <hr />
        <p style="text-align: center;color:blue;"> &copy;Created By Rutvik Suresh Kachchhi</p>

    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>

</html>